@charset "utf-8";
/*
重设浏览器默认样式
 */
/*防止用户自定义背景颜色对网页的影响，添加让用户自定义的字体*/
html {
  color: #000;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a {
  cursor: pointer;
}

/*去除内外边距*/
body,
div,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
a {
  margin: 0;
  padding: 0;
  color: #666;
  box-sizing: border-box;
  font: 12px/150% Arial, Verdana, "\5b8b\4f53";
}

/*重设html5标签，兼容老版本 IE需要js中createElement(Tag)*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/*HTML5媒体文件跟img保持一致，转成行内块*/
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*表单元素不及成父级元素的font问题*/
body,
button,
input,
select,
textarea {
  font: 12px/1.5 tahoma, arial, "\5b8b\4f53";
}

input,
select,
textarea {
  font-size: 100%;
}

/*去掉表格元素的table cell的边距并让边重合*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*IEbug fixed :th 不继承 textalign*/

th {
  text-align: inherit;
}

/*去除默认边框*/
fieldset,
img {
  border: 0;
}

/*去掉firefox下面元素的边框*/
abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/*一致的del样式*/
del {
  text-decoration: line-through;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}

/*去掉列表前面的标志*/
ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

/*让标题都自定义*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}

q:before,
q:after {
  content: "";
}

/*统一上下标*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a {
  color: #666;
}

a:hover {
  color: #f10215;
}

/*默认不显示下划线*/
ins,
a {
  text-decoration: none;
}

/*表单边框的去除*/
button,
input,
select {
  border: none;
  outline: none;
}

/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  visibility: hidden;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
i {
  font-style: normal;
}
